*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;
}
header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list.active {
    display: flex;
  }

.nav-bar{
    display: none;
    flex-direction: column;
    background-color: #222121;
}
.nav-list:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 118, 118);
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
}
.logo{
    font-size: 25px;
}

/* ........Hero section............ */
.hero{
    width: 100%;
    height: auto;
    background: url(images/heo-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
}
.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 10px;
}
.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(245, 37, 9);
}
.search-box button a{
    text-decoration: none;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    background: rgb(245, 37, 9);
    color: #fff;
    cursor: pointer;
}

/* .........Recipe section............ */
.recipes{
    padding: 20px 0;
}
.recipes h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}
.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 10px;
}
.recipe-card{
    background: #fff;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #a8a5a5;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.recipe-card:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.recipe-card img{
    width: 95%;
    margin-left: 7.5px;
    margin-top: 6px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.recipe-card h2{
    font-size: 22px;
    padding: 20px;
}
.recipe-card p{
    font-size: 18px;
    padding: 20px;
}
.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}
footer{
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}

/* .............media quary............ */
@media only screen and (min-width: 600px){
    .menu-icon{
        display: none;
    }
    .nav-bar{
        /* display: block; */
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (max-width: 600px){
    .hero h2{
        font-size: 28px;
    }
    .hero p{
        font-size: 15px;
    }
}